@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding:0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

.card{
    @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.default-button{
    @apply rounded bg-gray-100 py-2 px-4 text-black shadow outline-none hover:bg-gray-200;
}

.primary-button{
    @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500;
}
input,
select,
textarea{
    @apply rounded border p-2 outline-none ring-indigo-300 focus:ring
}

.dropdown-link{
    @apply flex p-2 hover:bg-gray-200;
}

.alert-error{
    @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success{
    @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}

.special-label{
    @apply hidden;
}
.form-control{
    @apply rounded-md mx-2;
}